.div-container mat-form-field + mat-form-field {
  margin-left: 30px;
  margin-bottom: 30px;
}
/* Using float: */
.div-container button {
  float: right;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
